.postContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -10px;
  }
  
  .postCard {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    &:active {
        // 클릭 시 변화할 스타일
        transform: translateY(-2px); // 예시: 클릭 시 조금 아래로 움직임
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); // 예시: 그림자 조절
    }
  }
  
  .carouselImage {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      width: 300px;
      height: 210px;
    }
  }
  
  .locationAndLike {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .likeCount {
      display: flex;
      align-items: center;
      position: relative;
      top: -2px;
  
      .anticon {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
  
  .pricePerNight {
    margin-bottom: 5px;
  }
  