.post {
    width: calc(30%);
    margin-bottom: 30px;
  
    .ant-card {
      width: 100%;
      border-radius: 50px; // 모서리 둥글게 조정
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      margin: 0;

      .ant-card-cover {
        img {
          width: 100%; // 이미지의 너비를 카드에 맞춤
          height: 300px; // 이미지 높이 고정
          object-fit: cover; // 이미지 비율 유지하며 덮기
          border-radius: 20px 20px 0 0;
        }
      }

      .ant-card-meta-title, .ant-card-head-title {
        text-align: center;
        color: #666666;
        font-size: 16px;
      }
    }
}
