.app {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "header header header"
      "contents contents contents"
      "footer footer footer";
    width: 85%;
    max-width: 100%;
    margin: 10px auto;
  }
  
  .header {
    display: grid;
    grid-template-columns: 0.40fr auto 0.40fr;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .page-title {
  }
  
  .search {
 /* .header 요소 내에서의 위치를 결정하기 위해 absolute로 설정합니다. */
    right: 100px;
  }
  
  .topnav {
    justify-self: end;
  }
  
  .contents {
    grid-area: contents;
  }
  
  .footer {
    grid-area: footer;
    justify-self: center;
  }
  